name: Audit

permissions: {}

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup mise
      uses: jdx/mise-action@v2

    - name: Install Dependencies
      run: pnpm install --frozen-lockfile

    - name: Build Package
      run: pnpm build

    - name: Lint Package
      run: pnpm lint

    - name: Check Package
      run: pnpm check

    # Tests are not ready yet
    # - name: Test Package
    #   run: pnpm test
